.container{
    display: flex;
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: 20px;
    justify-content: center;
    flex-wrap: wrap;

}

.card{
    margin-top: 50px;

    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    
}

.title{
    justify-self: center;
}

.img{
    width: 300px;
    height: 300px;
}

.img-card{
    float: left;
    margin-left: 30px;
}

.info-card{
    float: right;
    margin-left: 50px;
    text-align: justify;
}

.info{
    gap: 20px 20px;
}

.link{
    margin-top: 100px;

}

.link:hover{
    text-decoration: underline;
}

